.no-scrollbar {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
